node-red/node-RED.txt
[{"id":"5f5e98cd.970e4","type":"tab","label":"Plugwise system","disabled":false,"info":"This flow relays the data to domoticz and logs the data from each plug to induvidual csv-files."},{"id":"c7ed300f.497468","type":"function","z":"5f5e98cd.970e4","name":"Plugwise2 Energy to Domoticz","func":"//\n// Relay Plugwise MQTT energy message to Domoticz HTTP\n//\nnode.log (\"Relay Plugwise MQTT energy message to Domoticz HTTP\");\nvar sensor_url = context.global.plugwiseCfg.sensor_base_url;\nvar pwJSON = JSON.parse(msg.payload);\nvar state = context.global.plugwiseState[pwJSON.mac];\nvar pvalue = pwJSON.power;\nvar evalue = pwJSON.cum_energy;\nif (state)\n    if (state.state.production) {\n        pvalue = -pvalue;\n        evalue = -evalue;\n    }\n\n///json.htm?type=command&param=udevice&hid=$HID&did=$DID&dunit=$DUNIT&dtype=$DTYPE&dsubtype=$DSUBTYPE&nvalue=$NVALUE&svalue=$SVALUE\"\nmsg.url = sensor_url + \"did=E\"+pwJSON.mac.substr(9,7)+\"&dunit=1&dtype=243&dsubtype=29&nvalue=&svalue=\"+pvalue+\";\"+evalue;\nreturn msg;","outputs":"1","noerr":0,"x":490,"y":240,"wires":[["5b73d90d.5eeb7","2ca9c775.dcf4f"]]},{"id":"fd353f8e.57cb4","type":"function","z":"5f5e98cd.970e4","name":"Plugwise2 Power to Domoticz","func":"//\n// Relay Plugwise MQTT power message to Domoticz HTTP\n//\nnode.log (\"Relay Plugwise MQTT power message to Domoticz HTTP\");\nvar sensor_url = context.global.plugwiseCfg.sensor_base_url;\nvar pwJSON = JSON.parse(msg.payload);\n\nvar state = context.global.plugwiseState[pwJSON.mac];\nvar value = pwJSON.power;\nif (state)\n    if (state.state.production)\n        value = -value;\n\n///json.htm?type=command&param=udevice&hid=$HID&did=$DID&dunit=$DUNIT&dtype=$DTYPE&dsubtype=$DSUBTYPE&nvalue=$NVALUE&svalue=$SVALUE\"\nmsg.url = sensor_url + \"did=F\"+pwJSON.mac.substr(9,7)+\"&dunit=1&dtype=248&dsubtype=1&nvalue=&svalue=\"+value+\";0\";\n\nreturn msg;","outputs":"1","noerr":0,"x":488,"y":306,"wires":[["5b73d90d.5eeb7","2be0785d.1fb468","fb922358.14b5f8"]]},{"id":"3d13cf31.f39ba","type":"mqtt out","z":"5f5e98cd.970e4","name":"MQTT publish","topic":"","qos":"","retain":"","broker":"82209e63.ce406","x":855,"y":460.75,"wires":[]},{"id":"91e5af0.eea275","type":"function","z":"5f5e98cd.970e4","name":"Plugwise2 State to Domoticz","func":"//\n// Relay Plugwise MQTT state/circle message to Domoticz HTTP\n//\nnode.log (\"Relay Plugwise MQTT state/circle message to Domoticz HTTP\");\nvar switch_url = context.global.plugwiseCfg.switch_base_url;\nvar sensor_url = context.global.plugwiseCfg.sensor_base_url;\nvar pwJSON = JSON.parse(msg.payload);\nvar pwSwitch = 0;\nif (pwJSON.switch.toLowerCase() == \"on\")\n    pwSwitch = 1;\nvar pwSchedule = 0;\nif (pwJSON.schedule.toLowerCase() == \"on\")\n    pwSchedule = 1;\nvar info = \"\";\nif (pwJSON.schedname.length > 0)\n    info += \"schedule: \" + pwJSON.schedname;\nif (!pwJSON.online) {\n    if (info.length > 0)\n        info += \", \";\n    info += \"offline\";\n}\n\n///json.htm?type=command&param=udevice&hid=$HID&did=$DID&dunit=$DUNIT&dtype=$DTYPE&dsubtype=$DSUBTYPE&nvalue=$NVALUE&svalue=$SVALUE\"\nvar switch_msg = {};\nvar schedule_msg = {};\nvar status_msg = {};\nswitch_msg.url = switch_url + \"did=B\"+pwJSON.mac.substr(9,7)+\"&dunit=1&dtype=17&dsubtype=0&nvalue=\" + pwSwitch + \"&svalue=15\";\nschedule_msg.url = switch_url + \"did=C\"+pwJSON.mac.substr(9,7)+\"&dunit=1&dtype=17&dsubtype=0&nvalue=\" + pwSchedule + \"&svalue=15\";\nstatus_msg.url = sensor_url + \"did=A\"+pwJSON.mac.substr(9,7)+\"&dunit=1&dtype=243&dsubtype=19&nvalue=&svalue=\"+info;\n\n//discard state messages as reply to a domoticz switch command\nif (pwJSON.requid == context.global.plugwiseReqUID + 0)  {\n    context.global.plugwiseState[pwJSON.mac] = { ts: Date.now(), state: pwJSON, update: \"schedule\" };\n    return [null, schedule_msg, status_msg];\n}\nelse if (pwJSON.requid == context.global.plugwiseReqUID + 1) {\n    context.global.plugwiseState[pwJSON.mac] = { ts: Date.now(), state: pwJSON, update: \"switch\" };\n    return [switch_msg, null, status_msg];\n}\ncontext.global.plugwiseState[pwJSON.mac] = { ts: Date.now(), state: pwJSON, update: \"both\" };\n\n//return [msg, context.global.plugwiseState[pwJSON.mac]];\nreturn [switch_msg, schedule_msg, status_msg];\n\n\n\n","outputs":"3","noerr":0,"x":480,"y":360,"wires":[["5b73d90d.5eeb7","185362b5.7a6b2d"],["5b73d90d.5eeb7","3d0ae423.64ed14"],["5b73d90d.5eeb7","fb13f053.4d1c2"]]},{"id":"2be0785d.1fb468","type":"debug","z":"5f5e98cd.970e4","name":"msg.url","active":false,"console":"true","complete":"url","x":878,"y":275,"wires":[]},{"id":"5b73d90d.5eeb7","type":"http request","z":"5f5e98cd.970e4","name":"Domoticz","method":"use","ret":"txt","url":"","tls":"","x":720,"y":300,"wires":[[]]},{"id":"a650e326.5cc698","type":"inject","z":"5f5e98cd.970e4","name":"run at startup","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":97,"y":174,"wires":[["a9f72399.1f2df8"]]},{"id":"a9f72399.1f2df8","type":"function","z":"5f5e98cd.970e4","name":"Initialise global context","func":"//edit the following variables to match your configuration:\ndomoticz_ip = \"127.0.0.1\";\ndomoticz_port = \"8080\";\nvirtual_hardware_id = 3;\nvirtual_switch_id = 3;\n//end config section\n\n//initialize plugwise-domoticz bridge global variables\nif (!context.global.plugwiseCfg) {\n  context.global.plugwiseCfg = {};\n}\nif (!context.global.plugwiseState) {\n  context.global.plugwiseState = [];\n}\nif (!context.global.plugwiseReqUID) {\n  context.global.plugwiseReqUID = Date.now().toString();\n}\n\ncontext.global.plugwiseCfg.sensor_base_url = \"http://\" + domoticz_ip + \":\" + domoticz_port + \"/json.htm?type=command&param=udevice&hid=\" + virtual_hardware_id +\"&\";\ncontext.global.plugwiseCfg.switch_base_url = \"http://\" + domoticz_ip + \":\" + domoticz_port + \"/json.htm?type=command&param=udevice&hid=\" + virtual_switch_id +\"&\";\n\nreturn msg;","outputs":1,"noerr":0,"x":323,"y":174,"wires":[[]]},{"id":"59b5ecc5.ab291c","type":"mqtt in","z":"5f5e98cd.970e4","name":"domoticz/out/#","topic":"domoticz/out/#","broker":"82209e63.ce406","x":74.5,"y":461,"wires":[["47a3bf21.9ca318"]]},{"id":"ea1bcb67.e20e8","type":"switch","z":"5f5e98cd.970e4","name":"Lighting_2","property":"dtype","rules":[{"t":"eq","v":"Lighting 2"}],"checkall":"true","outputs":1,"x":177.5,"y":560,"wires":[["ef12ea16.a31cb"]]},{"id":"ef12ea16.a31cb","type":"switch","z":"5f5e98cd.970e4","name":"AC","property":"stype","rules":[{"t":"eq","v":"AC"}],"checkall":"true","outputs":1,"x":324.5,"y":560,"wires":[["651e433b.08385c"]]},{"id":"3af67a2e.4032f6","type":"debug","z":"5f5e98cd.970e4","name":"mqtt topic","active":true,"console":"true","complete":"topic","x":843.5,"y":527,"wires":[]},{"id":"47a3bf21.9ca318","type":"function","z":"5f5e98cd.970e4","name":"de-jsonify","func":"var payload = JSON.parse(msg.payload);\nreturn payload;","outputs":1,"noerr":0,"x":226,"y":461,"wires":[["ea1bcb67.e20e8"]]},{"id":"651e433b.08385c","type":"switch","z":"5f5e98cd.970e4","name":"svalue1=0","property":"svalue1","rules":[{"t":"eq","v":"0"}],"checkall":"true","outputs":1,"x":475,"y":560,"wires":[["1103e5a4.219662"]]},{"id":"1103e5a4.219662","type":"function","z":"5f5e98cd.970e4","name":"Domoticz switch/schedule to plugwise","func":"// Switch on and off the plugwise module\nnode.log (\"Relay Domoticz http:// requests to Plugwise2py MQTT\");\n\nvar pwmsg = {\"payload\": {}};\n//msg.payload.mac = \"000D6F000\"+msg.payload.mac;\n//strip leading 'B' (=breaker-switch) or 'C' (=clock-timer-schedule) and add prefix\nif (msg.id.length != 8)\n    return;\npwmsg.payload.mac = \"000D6F000\"+msg.id.substr(1);\nvar type;\nif (msg.id[0] == 'B') {\n    type = \"switch\";\n    pwmsg.payload.uid = context.global.plugwiseReqUID + 0;\n} else {\n    type = \"schedule\";\n    pwmsg.payload.uid = context.global.plugwiseReqUID + 1;\n}\npwmsg.payload.cmd = type;\nif (msg.nvalue === 0)\n    pwmsg.payload.val = \"off\";\nelse\n    pwmsg.payload.val = \"on\";\n\n\npwmsg.topic = \"plugwise2py/cmd/\" + type + \"/\" + pwmsg.payload.mac;\n\nreturn pwmsg;","outputs":"1","noerr":0,"x":514,"y":461,"wires":[["3af67a2e.4032f6","3d13cf31.f39ba","8887b6f.2130448"]]},{"id":"8a05a219.922268","type":"switch","z":"5f5e98cd.970e4","name":"","property":"topic","rules":[{"t":"cont","v":"energy"},{"t":"cont","v":"power"},{"t":"cont","v":"circle"}],"checkall":"true","outputs":3,"x":261,"y":306,"wires":[["c7ed300f.497468"],["fd353f8e.57cb4"],["91e5af0.eea275"]]},{"id":"a526b2af.4ee5f8","type":"mqtt in","z":"5f5e98cd.970e4","name":"","topic":"plugwise2py/state/#","qos":"1","broker":"82209e63.ce406","x":92,"y":306,"wires":[["8a05a219.922268"]]},{"id":"8887b6f.2130448","type":"debug","z":"5f5e98cd.970e4","name":"mqtt payload","active":true,"console":"true","complete":"payload","x":854,"y":577,"wires":[]},{"id":"fb13f053.4d1c2","type":"debug","z":"5f5e98cd.970e4","name":"msg.url","active":false,"console":"true","complete":"url","x":878,"y":393,"wires":[]},{"id":"3d0ae423.64ed14","type":"debug","z":"5f5e98cd.970e4","name":"msg.url","active":false,"console":"true","complete":"url","x":877,"y":354,"wires":[]},{"id":"185362b5.7a6b2d","type":"debug","z":"5f5e98cd.970e4","name":"msg.url","active":false,"console":"true","complete":"url","x":876,"y":315,"wires":[]},{"id":"2ca9c775.dcf4f","type":"debug","z":"5f5e98cd.970e4","name":"msg.url","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"url","x":878,"y":238,"wires":[]},{"id":"2becbb00.0c81fe","type":"csv","z":"5f5e98cd.970e4","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":1350,"y":620,"wires":[["60a57b30.9dcd64"]]},{"id":"60a57b30.9dcd64","type":"file","z":"5f5e98cd.970e4","name":"","filename":"/home/pi/logging/plugs/01.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1570,"y":620,"wires":[[]]},{"id":"fb922358.14b5f8","type":"function","z":"5f5e98cd.970e4","name":"Plugwise2 Power to Domoticz","func":"var string = msg.payload;\n\n\n// Constants\nmac_addresses =  \n{\"000D6F0003BD6969\":'01',\n\"000D6F0003BD8974\": '02',\n\"000D6F0002C0DDDB\": '03',\n\"000D6F000416DD83\": '04',\n\"000D6F0003BD5FE2\": '05',\n\"000D6F0003561FC7\": '06',\n\"000D6F0004B1EC41\": '07',\n\"000D6F0002C0E746\": '08',\n\"000D6F0000469B3E\": '09',\n\"000D6F0004B613A8\": '10',\n\"000D6F0004A29FA3\": '11',\n\"000D6F0002C0EFF3\": '12',}\n\n\n//Splitting the payload \nvar split = string.split(',');\nvar timestamp = Number(split[1].slice(5, 15));\nvar mac = split[2].slice(7, 23);\nvar power = split[3];\n// Removing } on end of string\npower = power.replace('}', '');\npower = power.slice(8,18);\n//console.log('power: %s', power);\n\n//Changing timestampformat \n// Since I live in Norway and this experiment is conducted in the winter time, an hour has to be added. \n//console.log('timestamp before adjustment: %s', timestamp);\nvar extra_hour = 3600;\ntimestamp = timestamp+extra_hour\n//console.log('timestamp after adjustment: %s', timestamp);\n\nfunction convertUNIXTimestampToTime (input) {\nvar time = new Date(input * 1000);\nvar year = time.getFullYear();\nvar month = time.getMonth()+1;\nvar date = time.getDate();\n// Adding 0 for lower numbers to match smart meter data\nif (date < 10){\n  date = \"0\" +date\n}\nvar hr = time.getHours();\nvar m = \"0\" + time.getMinutes();\nvar s = \"0\" + time.getSeconds();\n//return time+'-'+hr+ ':' + m.substr(-2) + ':' + s.substr(-2); \nreturn year+'-'+month+'-'+date+'T'+time.toLocaleTimeString('nn-NO');\n}\ntimestamp = convertUNIXTimestampToTime(timestamp)\n\n\n\n// Mac address\nvar mac = split[2].slice(7, 23);\n\n\n\n\n// Lag en sortering av mac-addresser\n// Send til den outputen som jeg vil av 12 forskjellige\n\n\n//console.log(timestamp);\n//console.log(mac);\n//console.log(power)\n//console.log('String: %s', split[2]);\n\n//Init messages\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6 = {};\nvar msg7 = {};\nvar msg8 = {};\nvar msg9 = {};\nvar msg10 = {};\nvar msg11 = {};\nvar msg12 = {};\n\nswitch (mac) {\n    case '000D6F0003BD6969':\n        data_to_csv = {mac: mac, time: timestamp, power_used: power};\n        msg1.payload = data_to_csv;\n        // Making a new file per day\n        var tempString = timestamp.slice(0,10);\n        var tempString1 = \"/home/pi/logging/plugs/01/\";\n        var tempString2 = tempString1.concat(tempString);\n        var finalPath = tempString2.concat(\".txt\");\n        msg.filename=finalPath;\n        break;\n    case '000D6F0003BD8974':\n        data_to_csv = {mac: mac, time: timestamp, power_used: power};\n        msg2.payload = data_to_csv;\n        break;\n    case '000D6F0002C0DDDB':\n        data_to_csv = {mac: mac, time: timestamp, power_used: power};\n        msg3.payload = data_to_csv;\n        break;\n    case '000D6F000416DD83':\n        data_to_csv = {mac: mac, time: timestamp, power_used: power};\n        msg4.payload = data_to_csv;\n        break;\n    case '000D6F0003BD5FE2':\n        data_to_csv = {mac: mac, time: timestamp, power_used: power};\n        msg5.payload = data_to_csv;\n        break;\n    case '000D6F0003561FC7':\n        data_to_csv = {mac: mac, time: timestamp, power_used: power};\n        msg6.payload = data_to_csv;\n        break;\n    case '000D6F0004B1EC41':\n        data_to_csv = {mac: mac, time: timestamp, power_used: power};\n        msg7.payload = data_to_csv;\n        break;\n    case '000D6F0002C0E746':\n        data_to_csv = {mac: mac, time: timestamp, power_used: power};\n        msg8.payload = data_to_csv;\n        break;\n    case '000D6F0000469B3E':\n        data_to_csv = {mac: mac, time: timestamp, power_used: power};\n        msg9.payload = data_to_csv;\n        break;\n    case '000D6F0004B613A8':\n        data_to_csv = {mac: mac, time: timestamp, power_used: power};\n        msg10.payload = data_to_csv;\n        break;\n    case '000D6F0004A29FA3':\n        data_to_csv = {mac: mac, time: timestamp, power_used: power};\n        msg11.payload = data_to_csv;\n        break;\n    case '000D6F0002C0EFF3':\n        data_to_csv = {mac: mac, time: timestamp, power_used: power};\n        msg12.payload = data_to_csv;\n        break;\n}\n\n\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8, msg9, msg10, msg11, msg12];","outputs":12,"noerr":0,"x":730,"y":840,"wires":[["2becbb00.0c81fe","820ab734.1ac17"],["15680473.408844","70e1e256.6839f4"],["75a870e6.170de8"],["7c094360.ec661c"],["84700af6.2249a"],["933ae1f3.7eab5"],["6dc7148d.16fbb4"],["bf0b5342.6f3e9"],["dcb9ff4f.8a31d"],["b0698cac.0691f8"],["af72310a.21c158"],["60241efd.fafbd"]]},{"id":"820ab734.1ac17","type":"debug","z":"5f5e98cd.970e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1690,"y":500,"wires":[]},{"id":"15680473.408844","type":"csv","z":"5f5e98cd.970e4","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":1350,"y":660,"wires":[["53e04920.92c0c"]]},{"id":"53e04920.92c0c","type":"file","z":"5f5e98cd.970e4","name":"","filename":"/home/pi/logging/plugs/02.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1570,"y":660,"wires":[[]]},{"id":"70e1e256.6839f4","type":"debug","z":"5f5e98cd.970e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1690,"y":540,"wires":[]},{"id":"75a870e6.170de8","type":"csv","z":"5f5e98cd.970e4","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":1350,"y":700,"wires":[["1488ed0c.1ca3db"]]},{"id":"1488ed0c.1ca3db","type":"file","z":"5f5e98cd.970e4","name":"","filename":"/home/pi/logging/plugs/03.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1570,"y":700,"wires":[[]]},{"id":"7c094360.ec661c","type":"csv","z":"5f5e98cd.970e4","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":1350,"y":740,"wires":[["7091f934.44b278"]]},{"id":"7091f934.44b278","type":"file","z":"5f5e98cd.970e4","name":"","filename":"/home/pi/logging/plugs/04.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1570,"y":740,"wires":[[]]},{"id":"84700af6.2249a","type":"csv","z":"5f5e98cd.970e4","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":1350,"y":780,"wires":[["48b76a13.f0fdf4"]]},{"id":"48b76a13.f0fdf4","type":"file","z":"5f5e98cd.970e4","name":"","filename":"/home/pi/logging/plugs/05.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1570,"y":780,"wires":[[]]},{"id":"933ae1f3.7eab5","type":"csv","z":"5f5e98cd.970e4","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":1350,"y":820,"wires":[["2fbd92bf.3fc55e"]]},{"id":"2fbd92bf.3fc55e","type":"file","z":"5f5e98cd.970e4","name":"","filename":"/home/pi/logging/plugs/06.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1570,"y":820,"wires":[[]]},{"id":"6dc7148d.16fbb4","type":"csv","z":"5f5e98cd.970e4","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":1350,"y":860,"wires":[["f7ff1fc6.98e4"]]},{"id":"f7ff1fc6.98e4","type":"file","z":"5f5e98cd.970e4","name":"","filename":"/home/pi/logging/plugs/07.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1570,"y":860,"wires":[[]]},{"id":"bf0b5342.6f3e9","type":"csv","z":"5f5e98cd.970e4","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":1350,"y":900,"wires":[["3b3b35ff.83ee32"]]},{"id":"3b3b35ff.83ee32","type":"file","z":"5f5e98cd.970e4","name":"","filename":"/home/pi/logging/plugs/08.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1570,"y":900,"wires":[[]]},{"id":"dcb9ff4f.8a31d","type":"csv","z":"5f5e98cd.970e4","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":1350,"y":940,"wires":[["a006adea.6356d"]]},{"id":"a006adea.6356d","type":"file","z":"5f5e98cd.970e4","name":"","filename":"/home/pi/logging/plugs/09.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1570,"y":940,"wires":[[]]},{"id":"b0698cac.0691f8","type":"csv","z":"5f5e98cd.970e4","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":1350,"y":980,"wires":[["9a3b3f8.0ce1dc"]]},{"id":"9a3b3f8.0ce1dc","type":"file","z":"5f5e98cd.970e4","name":"","filename":"/home/pi/logging/plugs/10.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1570,"y":980,"wires":[[]]},{"id":"af72310a.21c158","type":"csv","z":"5f5e98cd.970e4","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":1350,"y":1020,"wires":[["89047846.498f78"]]},{"id":"89047846.498f78","type":"file","z":"5f5e98cd.970e4","name":"","filename":"/home/pi/logging/plugs/11.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1570,"y":1020,"wires":[[]]},{"id":"60241efd.fafbd","type":"csv","z":"5f5e98cd.970e4","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":1350,"y":1060,"wires":[["71f25c86.b940bc"]]},{"id":"71f25c86.b940bc","type":"file","z":"5f5e98cd.970e4","name":"","filename":"/home/pi/logging/plugs/12.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1570,"y":1060,"wires":[[]]},{"id":"82209e63.ce406","type":"mqtt-broker","broker":"127.0.0.1","port":"1883","clientid":""}]
